@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-bg: #f3f3f3;
  --green-color: #009b0b;
  --black-color: #090909;
  --text-green: #009b0b;
  --text-black: #090909;
  --text-white: #fff;
  --yellow-color: #ffde59;
  --blue-color: #2286fc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
  font-optical-sizing: auto;
  background: var(--primary-bg);
  font-size: 16px;
}

/* header starts */
.header {
  font-size: 1.5em;
  font-weight: 700;
  padding: 0.5em 0px;
  text-align: center;
  color: var(--text-white);
  background-color: var(--green-color);
}

.sub-header {
  font-size: 1.1em;
  font-weight: 600;
  padding: 0.5em 0px;
  text-align: center;
  color: var(--text-white);
  background: var(--black-color);
}

.highlight {
  color: var(--green-color);
}
/* header ends */
.container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  padding: 0 0.5em;
  max-width: 1000px;
  padding-top: 40px;
  padding-top: 80px;
  gap: 80px;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.socialIconBorder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 4px solid var(--black-color);
  min-height: 250px;
  position: relative;
}
.ctaHead {
  text-align: center;
  font-weight: 800;
  font-size: 20px;
}
.ctaSubHead {
  margin-top: 15px;
}
.socialIcon {
  width: 100px;
  position: absolute;
}
.email {
  left: -50px;
}
.message {
  top: -30px;
}
.meta {
  bottom: -30px;
}
.wtsp {
  right: -50px;
}
.left .btn {
  width: 100%;
  margin-top: 30px;
  padding: 0.8em 0;
  font-size: 1.3em;
  background: var(--green-color);
  color: var(--text-white);
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.tagline {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  color: var(--text-black);
}
.highleveltext {
  text-align: center;
}
.rating-container {
  display: flex;
  align-items: center;
}
.google {
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}
.star-rating {
  margin-bottom: 4px;
}

#quoteForm {
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  margin: 8px 0;
  border-radius: 5px;
  height: 50px;
  font-size: 1.2em;
  padding: 12px;
  border: 1px solid #ccc;
}

.submit-btn {
  background: var(--green-color);
  color: var(--text-white);
  border: none;
  padding: 0.7em 0;
  font-size: 1.2em;
  width: 100%;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.form-cta-text-container {
  margin: 10px auto;
}
.cta-button {
  display: block;
  margin: 0px auto;
  font-size: 0.9em;
  padding: 0.5rem 1em;
  font-weight: 600;
  background-color: var(--yellow-color);
}
.blue-bg {
  background-color: var(--blue-color);
}
.timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.expires-in-text {
  padding: 0.2em 0.5em;
  font-weight: 700;
  font-style: italic;
}
.timer {
  background-color: var(--yellow-color);
  padding: 0.1em 0.8em;
  scale: 1.1;
  font-size: 1.3em;
  font-weight: 600;
  text-align: center;
  color: var(--black-color);
}
.offer-discount {
  text-align: center;
  padding: 0.2em 0.5em;
  font-weight: 700;
  font-style: italic;
  font-size: 2.3em;
}
/* hero section ends */
.capture-section {
  background: var(--primary-bg);
  padding: 40px 20px;
  border-top: 1px solid #e5e7eb;
}

.capture-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1100px;
  margin: auto;
  gap: 30px;
}

.capture-content {
  flex: 1 1 400px;
}

.capture-content h2 {
  color: var(--black-color);
  font-size: 1.5em;
  margin-bottom: 12px;
}

.capture-content p {
  font-size: 0.95em;
  color: #374151;
  margin-bottom: 20px;
}

.feature-list {
  list-style: none;
  padding-left: 0;
}

.feature-list li {
  margin-bottom: 16px;
  font-size: 1em;
  color: #333;
}

.capture-image-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1px;
}

.capture-image {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
  /* border: 1px solid #ccc; */
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08); */
}

.trial-btn {
  background-color: #ffc107;
  color: black;
  font-weight: bold;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.trial-note {
  font-size: 0.8em;
  color: #6b7280;
  margin-top: 8px;
}
/* capture section ends */
.cards-section {
  background-color: rgb(242, 238, 238);
  padding: 20px 0px;
}
.cards-title {
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
  color: var(--black-color);
}
.cards {
  max-width: 1200px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.card-container {
  background-color: var(--primary-bg);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s;
}

.card-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.card-question {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
}

.card-answer {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .card-container {
    padding: 15px;
  }

  .card-question {
    font-size: 16px;
  }

  .card-answer {
    font-size: 13px;
  }
}
/* card section ends   */

.icon-card-section {
  padding: 40px 20px;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #eee;
}

.icon-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 50px;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.icon {
  height: 60px;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card-img {
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
/* icon card section ends */
.pricing-section {
  padding: 40px 20px;
}
.pricing-container {
  gap: 30px;
  padding: 40px 20px;
  max-width: 900px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.pricing-container2 {
  grid-template-columns: 1fr 1fr;
}
.pricing-image-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.results-text {
  text-align: center;
  font-size: 1.1em;
  font-weight: 500;
}
.get-started-text {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
.pricing-image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.pricing-image2 {
  height: 190px;
  width: auto;
}
.section-title {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
}

.footer {
  text-align: center;
  font-size: 12px;
  color: #444;
  margin-top: 10px;
}
.star-rating img {
  height: 24px;
  vertical-align: middle;
}

.pricing-section3 {
  max-width: 900px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 0.8fr 0.2fr;
  gap: 30px;
  padding: 40px 20px;
}

.pricing-box {
  padding: 0;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  border: 2px solid var(--green-color);
}
.btn-row {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.pricing-box h3 {
  text-align: center;
  font-size: 18px;
  background: var(--yellow-color);
  padding: 8px 0px;
}

.pricing-header {
  background: var(--green-color);
  color: var(--text-white);
  padding: 12px;
  text-align: center;
  margin-bottom: 15px;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pricing-header .badge {
  display: inline-block;
  padding: 10px 10px;
  font-weight: bold;
  background: var(--blue-color);
  margin-top: 8px;
  font-size: 12px;
  border-radius: 4px;
}

.features {
  list-style: none;
  padding-left: 0;
  margin: 0 0 20px 0;
}

.features li {
  margin: 8px 0;
  font-size: 16px;
  font-weight: bold;
}

.download-btn {
  display: block;
  background: var(--green-color);
  color: #fff;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
}
.buy-now-btn {
  text-align: center;
  background-color: var(--yellow-color);
  color: var(--black-color);
  padding: 10px 0;
  font-weight: bold;
  width: 100%;
  font-size: 1.5em;
}
.download-btn:hover {
  background: #388e3c;
}

.site-footer {
  background-color: rgb(233, 229, 229);
  color: black;
  padding: 20px 0;
  text-align: center;
  margin-top: 40px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: black;
  margin: 0 10px;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* pop up form */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 30px;
  border-radius: 10px;
  width: 80vw;
  max-width: 500px;
  position: relative;
  text-align: center;
}

.modal-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 900;
}
.close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

.modal-form .btn {
  background: var(--green-color);
  color: white;
  border: none;
  padding: 15px 12px;
  width: 100%;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.chat-bot-icon {
  border: none;
  position: fixed;
  right: 20px;
  width: 55px;
  height: 55px;
  bottom: 80px;
  z-index: 999;
  cursor: pointer;
  background: none;
}
.chat-icon {
  border-radius: 50%;
}
/* chat bot */
#chatContainer {
  position: fixed;
  bottom: 80px;
  right: 100px;
  width: 300px;
  background: var(--primary-bg);
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  animation: slideUp 0.3s ease-out;
  overflow: hidden;
}

#chatHeader {
  background: var(--yellow-color);
  color: var(--text-black);
  background-color: rgb(40, 125, 187);
  background-color: #007bff;

  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chatHeader h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

#closeButton {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  line-height: 1;
}

#questionsContainer {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 300px;
  overflow-y: auto;
}

.questionButton {
  background: #f5f5f5;
  border: none;
  padding: 12px 15px;
  border-radius: 8px;
  text-align: left;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 14px;
  color: #333; /* Replace with var(--primary-text) */
  width: 100%;
}

.questionButton:hover {
  background: #007bff;
  color: white;
  transform: translateX(5px);
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  #chatContainer {
    width: 90%;
    max-width: 300px;
    right: 50%;
    transform: translateX(50%);
    bottom: 10px;
  }

  .questionButton {
    padding: 10px 12px;
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  #chatContainer {
    width: 95%;
  }

  #chatHeader h3 {
    font-size: 14px;
  }

  .questionButton {
    padding: 8px 10px;
    font-size: 12px;
  }
}
/* bottom cta */
#bottom-cta {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--green-color);
  color: var(--text-white);
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 25px 0px;
  z-index: 9999;
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
}

#bottom-cta.show {
  transform: translateY(0);
}

.cta-btn {
  background-color: var(--yellow-color);
  color: var(--text-black);
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  .pricing-section {
    grid-template-columns: 1fr;
  }
  .pricing-section2 {
    grid-template-columns: 1fr;
  }
  .pricing-section3 {
    grid-template-columns: 1fr;
  }
}
/* wtps */
.whatsapp-float {
  position: fixed;
  width: 55px;
  height: 55px;
  bottom: 70px;
  right: 20px;
  z-index: 999;
  cursor: pointer;
}

.whatsapp-float img {
  width: 100%;
  height: auto;
}
.email-icon {
  bottom: 140px;
}
.email-icon-image {
  width: 55px;
  height: 55px;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .container {
    width: 90%;
    grid-template-columns: 1fr;
  }
  .left {
    width: 90%;
    margin: 0px auto;
  }
  .capture-container {
    grid-template-columns: 1fr;
  }
}
.btn-row {
  margin-top: 50px;
}

.client-site-section {
  padding: 20px 0px;
  display: grid;
  gap: 20px;
  background-color: var(--primary-bg);
}
.client-site-title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
.client-site-image {
  margin: auto;
}
.client-site-link {
  padding-bottom: 2px;
  text-decoration: underline;
  color: var(--blue-color);
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
/* Video Modal styles */
.video-modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.video-container {
  width: 80%;
  position: relative;
  max-width: 800px;
}

#video-frame {
  width: 100%;
  height: 450px;
}

.dismiss-btn {
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  background: transparent;
  color: var(--text-white);
}
.watch-demo-btn {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0px;
  color: var(--text-white);
  background-color: var(--green-color);
}
